<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Data</title>
</head>
<body>
    <h2>Enter data to insert</h2>
    <form method="POST" action="/user/add">
        <input placeholder="Enter_Id" name="id">
        <input placeholder="Enter_name" name="name">
        <input placeholder="Enter_Email" name="email">
        <input placeholder="Enter_password" name="password" type="password">
        <button>Submit</button>
    </form>
    
</body>
</html>